[submodule "chisel_processors"]
	path = chisel_processors
	url = git@gitlab-ext.galois.com:ssith/chisel_processors.git
[submodule "bluespec-processors/P1/Piccolo"]
	path = bluespec-processors/P1/Piccolo
	url = https://github.com/bluespec/Piccolo.git
[submodule "riscv-tools"]
	path = riscv-tools
	url = git@gitlab-ext.galois.com:ssith/riscv-tools.git
	branch = ssith-p1-tools
[submodule "FreeRTOS-RISCV"]
	path = FreeRTOS-RISCV
	url = https://github.com/GaloisInc/FreeRTOS-RISCV
