[submodule "chisel_processors"]
	path = chisel_processors
	url = https://gitlab-ext.galois.com/ssith/chisel_processors.git
	branch = update_p1_chisel
[submodule "bluespec-processors/P1/Piccolo"]
	path = bluespec-processors/P1/Piccolo
	url = https://github.com/CTSRD-CHERI/Piccolo.git
	branch = CHERI
[submodule "FreeRTOS-mirror"]
	path = FreeRTOS-mirror
	url = https://github.com/CTSRD-CHERI/FreeRTOS-mirror.git
[submodule "bluespec-processors/P2/Flute"]
	path = bluespec-processors/P2/Flute
	url = https://github.com/bluespec/Flute.git
[submodule "riscv-linux"]
	path = riscv-linux
	url = ../riscv-linux.git
[submodule "bluespec-processors/P3/Toooba"]
	path = bluespec-processors/P3/Toooba
	url = https://github.com/bluespec/Toooba.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = ../riscv-pk.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = ../riscv-tests.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = ../riscv-openocd.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/CTSRD-CHERI/newlib
	branch = p1_release
[submodule "benchmarks/coremark"]
	path = benchmarks/coremark
	url = https://github.com/GaloisInc/coremark.git
